#calcular{
	display:none;
}
#pesquisa{
	display:none;
	position:absolute;
	left:50%;
	top:320px;
    width: 620px;
    height: 600px;
	margin-left:-310px;
}
.imgc7{
	position: absolute;
	left:50%;
	top:310px;
	width:640px;
	height:400px;
	margin-left:-323px;
}
.textop{
	position:absolute;
}
.nbotoesc{
	position:absolute;
	left:50%;
	top:330px;
	width:400px;
	height:120px;
	margin-left:-300px;
}
.btnsc{
	width:120px;
	height:100px;
}
#fecharc{
	position:absolute;
	top:250px;
	right:50%;
	margin-right:-320px;
}
#fecharce{
	position:absolute;
	top:150px;
	right:50%;
	margin-right:-400px;
}
#calcularedificios{
	display:none;
}
#calcularedificios2{
    white-space: nowrap;
    position:absolute;
	top:230px;
	left:50%;
	width:750px;
	height:690px;
	margin-left:-375px;
	overflow-x: scroll;
	overflow-y: scroll;
}
#calcularedificios2 img{
	max-width:50px;
	width: auto;
	height: auto;
}
#barra{
	position:absolute;
	top:200px;
	left:50%;
	width:800px;
	margin-left:-400px;
}
#espaco{
	position:absolute;
	top:225px;
	left:50%;
	width:800px;
	height:700px;
	margin-left:-400px;
}
#calcularunidades{
	display:none;
}
#okcm{
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-400px;	
}
#resultado{
	display:none;
}
#barrar{
	position:absolute;
	top:225px;
	left:50%;
	width:700px;
	margin-left:-350px;
}
#espacor{
	position:absolute;
	top:250px;
	left:50%;
	width:700px;
	height:400px;
	margin-left:-350px;
}
#fecharcr{
	position:absolute;
	top:175px;
	right:50%;
	margin-right:-350px;
}
#resultadoc{
	position:absolute;
	left:50%;
	top:270px;
	width:350px;
	margin-left:-175px;
}
