body{
	color: #333333;
	background-color: #FFDEAD;
}
.menu-opcoes ul {
	font-size: 20px;
}
.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}
.menu-opcoes {
	position: relative;
	bottom: 0;
	right: 0;
}
.container {
	margin: 0 auto;
	width: 940px;
}
.titulo {
	text-align: center;
}
