body{
	color: #333333;
	background-color: #FFDEAD;
}
.container {
	position:absolute;
	left:50%;
	top:310px;
	width: 800px;
	margin-left:-400px;	
}
.tabela{
	height: 600px;
	height: 500px;
	overflow-y: scroll;
}
.container img{
	max-width:50px;
	width: auto;
	height: auto;
}
.img3{
	position: absolute;
	left:50%;
	top:175px;
	width:1000px;
	margin-left:-500px;
}
.img4{
	position: absolute;
	left:50%;
	top:1025px;
	width:1005px;
	margin-left:-505px;
}
.img5{
	position: absolute;
	left:50%;
	top:304px;
	width:962px;
	height:730px;
	margin-left:-485px;
}
