.menu-opcoes ul {
	font-size: 20px;
}
.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}
.menu-opcoes {
	position:absolute;
	top:150px;
	left: 50%;
	margin-left:-380px;	
	
}
.img01{
	position: absolute;
	left:50%;
	top:20px;
	width:600px;
	margin-left:-300px;
}
