body{
	color: #333333;
	background-color: #FFDEAD;
}
.container {
	position:absolute;
	left:50%;
	top:310px;
	width: 460px;
	margin-left:-230px;	
}
.img3{
	position: absolute;
	left:50%;
	top:175px;
	width:600px;
	margin-left:-300px;
}
.img4{
	position: absolute;
	left:50%;
	top:496px;
	width:603px;
	margin-left:-303px;
}
.img5{
	position: absolute;
	left:50%;
	top:248px;
	width:577px;
	height:250px;
	margin-left:-291px;
}
.table{
	position: absolute;
	left:50%;
	width:800px;
	margin-left:-400px;
	
}
